
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
}

.header {
  background-color: rgb(18 18 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 25px;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 50px;
  width: auto;
  border-radius: 5px;
  transition: all 0.2;
}

.header .logo img:hover {
  transform: scale(1.4);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 10px;
  transition: all 0.3;
}

.header .nav-links a {
  font-size: 700;
  color: white;
  text-decoration: none;
}

.header .nav-links li:hover {
  transform: scale(1.1);
  background-color: grey;
  border-radius: 5px;
  margin: 5px 5px;
}

.header .btn button {

  margin-left: 20px;
  font-weight: 700;
  background-color: #26BBFF;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: rgb(28, 154, 196);
}

.iconos {
  display: flex;
  align-items: center;
  height: 100vh;
}

.iconos a {
  display: inline-block;
}

.iconos a img:hover{
  transform: scale(1.2);
  transition: all 0.4s;
}

.iconos img {
  width: 50px;
  height: 40px;
}