* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(18, 18, 18);
}

.header {
  background-color: #18181c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 25px;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 50px;
  width: auto;
  border-radius: 5px;
  transition: all 0.2;
}

.header .logo img:hover {
  transform: scale(1.4);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 10px;
  transition: all 0.3;
}

.header .nav-links a {
  font-size: 700;
  color: white;
  text-decoration: none;
}

.header .nav-links li:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin: 15px 5px;
  transition: all 0.3;
}

.header .btn button {
  margin-left: 20px;
  font-weight: 700;
  background-color: #26bbff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: rgb(28, 154, 196);
}

.iconos {
  display: flex;
  align-items: center;
  height: 100vh;
}

.iconos a {
  display: inline-block;
}

.iconos a img:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.iconos img {
  width: 50px;
  height: 40px;
}

.nav-barra {
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: 50px 150px;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-lupa {
  position: relative;
}

.nav-barra input {
  background-color: rgb(56, 54, 54);
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  padding: 10px 10px 10px 40px;
  margin: 20px;
  border-radius: 20px;
  color: aliceblue;
  width: 300px;
}

input::placeholder {
  color: aliceblue;
  text-align: center;
}

.lupa-icon {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 20px; /* Ajusta el tamaño según tus necesidades */
  height: 20px; /* Ajusta el tamaño según tus necesidades */
  pointer-events: none; /* Asegura que el icono no interfiera con la entrada de texto */
}

.nav-li ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: rgb(95, 95, 95);
}

.nav-li li {
  margin-left: 20px;
  color: rgb(95, 95, 95);
}

.nav-li a {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

.nav-li a:hover {
  color: aliceblue;
  transition: all 0.4s;
}

main {
  padding: 50px 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article img {
  margin-top: -15px;
  height: 550px;
}

.article-box {
  /* margin-left: 80px; */
  display: flex;
  flex-direction: column;
}

.article ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.article-box li {
  margin-bottom: 40px;
}

.article-box a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.article .article-box img {
  width: 50px;
  height: 60px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 0;
}

.article .article-box li:hover {
  border-radius: 5px;
  /* margin: 10px 20px; */
  background-color: rgba(255, 255, 255, 0.08);
}
